.navbar-nav .nav-item .nav-link {
  color: #050038;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 14px;
  /* Set text color */
}
.nav-button {
  background: #4262ff;
  padding: 17px 22px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  border: none;
}

.header-style {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -1px;
  text-align: left;
  color: #050038;
  /* width: 376.65px;
  height: 112px; */
}

.span-style {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(155, 153, 175, 1);
}

.input-style {
  width: 440px;
  height: 48px;
  padding: 11.5px 41px 14.5px 25px;
  border-radius: 32px;
}

.para-style {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  width: 428.09px;
  height: 48px;
  color: rgba(5, 0, 56, 0.72);
}

.shorter-para-style {
  font-family: Helvetica;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.trusted-text {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(5, 0, 56, 0.6);
}

.card-title-style {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.5px;
  text-align: left;
}

.card-text-style {
  font-family: Helvetica;
  font-size: 18px;

  letter-spacing: 0em;
  text-align: left;
  color: rgba(5, 0, 56, 0.6);
}

.card-style {
  width: Hug (359.95px);
  height: Hug (268px);
  padding: 23px 22.39px 44px 24px;
  gap: 29px;
}

.link-style {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(66, 98, 255, 1);
}

.arrow-style {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(66, 98, 255, 1);
  width: 18px;
  height: 24px;
}

.section-header-style {
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.5px;
  text-align: center;
  color: rgba(5, 0, 56, 1);
}

.section-para-style {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(5, 0, 56, 1);
}

.background-image-set {
  background-image: url(./images/section3.png);
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
}

.navtab-item-style {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(5, 0, 56, 1);
  padding: 13px 32.52px 15px 18px;
  transition: background-color 0.3s;
}
.navtab-container .navtab-item-style:hover {
  background-color: rgba(241, 243, 253, 1);
}

.tab-section-header {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(5, 0, 56, 1);
}

.tab-section-para {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(5, 0, 56, 0.7);
}
.list-text-style {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(5, 0, 56, 0.6);
  margin-left: 10px;
}

.list-item-style {
  width: 308px;
}
